:root {
    --primary-color: #046c97;
}


.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #035a7d;
    border-color: #035a7d;
}

.btn-outline-primary {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-outline-primary:hover {
    background-color: var(--primary-color);
    color: white;
}

.header-brand {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.8rem;
    letter-spacing: 1px;
}